body{
    background-color: rgb(86, 152, 252);
    padding: 2%;
    justify-items: center;
}

h1{
    color: aliceblue;
}

p{
    font-size: large;
    font-family: monospace;
}

label{
    font-size: large;
    font-family: monospace;
}

#resu{
    text-align: center;
}

section{
    background-color: aliceblue;
    padding: 2%;
    border-radius: 5%;
}

img{
    width: 400px;
    border-radius: 50%;
}